.chores {
    font-family: 'Courier New', Courier, monospace;
    color: indianred;
}

h3 {
    font-size: x-large;
    text-decoration: underline;
}

li {
    font-size: medium;
    font-style: italic;
}